/* Space out content a bit */
body {
  min-height: 200px;
  padding-top: 70px;
}

.jumbotron {
	background-color: #f60;
	color: #fff;
}

.btn-ing {
	background-color: #f60 !important;
	color: #fff !important;
}